:root {
    --charcoal: #0B0B0C;
    --dark-taupe: #78736F;
    --cream: #EBECE4;
    --dark-cream: #cccec3;
    --olive: #92a361;
    --olive-light: #b7ce73;
    --olive-dark: #7b8a50;
    --main-title-font:'Abril Fatface', cursive;
    --title-font: 'Playfair Display', serif;
    --body-font: 'Montserrat', sans-serif;
}